body{
    width: 1200px;
}

.servicios{
    background-color: rgb(145, 209, 145);
    display: flex;
    justify-content: space-evenly;
    text-align: justify;
}

.servicios__contenedor{
    margin-right:25px;
    padding: 10px;
    
}

